{% extends 'base.html.twig' %}

{% block title %} Home
{% endblock %}
{% block body %}
	<div class="container">
	<div class="jumbotron">
  <h1 class="display-4">Bienvenu!</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, iste veniam! Unde porro repellendus iure! Officia!
  </p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Us</a>
  </p>
</div>
		</div>
	{% endblock %}

