 <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Calipso Assurances</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">ACCUEIL
            {# <span class="visually-hidden">(current)</span> #}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PROFESSIONNEL</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" href="#">PARTICULIER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">CONTACT</a>
        </li>
    
      </ul>
      
    </div>
  </div>
</nav>