<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
    <h1>
 Un visiteur du site Calipso Assurances, vous a envoyé le message suivant via le formulaire de contact :
    </h1>
<div>
<b>Prénom :</b> {{ contact.prenom }}
</div>
<div>
<b>Nom :</b>{{ contact.nom }}
</div>
<div>
<b>Email :</b>{{ contact.email }}
</div>
<div>
<b>Message :</b> {{ contact.message }}
</div>

{# Date de naissance : 10/10/1987 #}
{# Date : 10/10/2009 12h00
Adresse IP : 212.210.1.89 » #}

	</body>
</html>
